body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #ecf0f1, #bdc3c7);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
}
.header {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.navigation__logo {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}
.navigation__list {
  list-style: none;
  margin: 0;
  display: flex;
  transition: transform 0.3s ease;
}
.navigation__list li {
  margin-right: 20px;
}
.navigation__list a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}
.navigation__list a:hover {
  color: #bdc3c7;
  transform: scale(1.1);
}
.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #2c3e50;
  animation: fadeInDown 0.5s ease-in-out;
}

.splashscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preloader {
  background-color: #3498db;
  color: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #219d54;
}
.work {
  text-align: center;
  padding: 50px 0;
}
.work__heading {
  color: #333;
  animation: fadeInUp 1s ease-in-out;
}
.contact {
  background-color: #95a5a6;
  color: #333;
  padding: 50px 0;
}
.contact__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact__form-el--name,
.contact__form-el--email,
.contact__form-el--message {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}
.contact__form-el--name:focus,
.contact__form-el--email:focus,
.contact__form-el--message:focus {
  outline: none;
  border-color: #3498db;
}
.contact__form-el--submit {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact__form-el--submit:hover {
  background-color: #2980b9;
}

.contact__form-el--name::placeholder,
.contact__form-el--email::placeholder,
.contact__form-el--message::placeholder {
  color: #888;
}

.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#ii {
  filter: contrast(130%) brightness(110%) saturate(120%) hue-rotate(10deg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
#ii:hover {
  filter: contrast(140%) brightness(115%) saturate(130%) hue-rotate(20deg);
  transform: scale(0.7);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.navigation {
  background-color: #2c3e50;
  padding: 1.5em 0;
  transition: background-color 0.5s ease;
}

.navigation:hover {
  background-color: #34495e;
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  list-style: none;
  margin: 0;
  display: flex;
}

.navigation__list li {
  margin-right: 20px;
}

.navigation__list a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navigation__list a:hover {
  color: #bdc3c7;
  transform: scale(1.1); 
}
@media (max-width: 768px) {
  .navigation__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #2c3e50;
    text-align: center;
    animation: fadeInDown 0.5s ease-in-out;
  }
  .navigation__list.show {
    display: flex;
  }
  .navigation__list li {
    margin: 10px 0;
  }
  .navigation__list a {
    font-size: 1.2em;
  }
}

.animated-navigation {
  animation: slideIn 0.5s ease-in-out;
}

.animated-contact-form {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(-30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
/* Animation pour le battement de l'image avec contour rose */
.image-pulse {
  animation: pulse 1s infinite alternate ease-in-out;
}

@keyframes pulse {
  from {
      transform: scale(1);
      border: 2px solid transparent; /* Bordure initiale transparente */
  }
  to {
      transform: scale(0.9); /* Ajustez la valeur pour déterminer la taille maximale pendant la pulsation */
      border: 2px solid rgb(160, 9, 34); /* Contour rose pendant la pulsation */
  }
}
